body {
	max-width: 980px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px */
	background: #020202 url("../images/bg_global.jpg") repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', serif;
	color: #333;
	letter-spacing: -1px;
}

h1 {
	font-size: 2.08333333em; /* 25px */
}

h3 {
	font-size: 1.66666667em; /* 20px */
	margin: 0;
}

p {
	margin: 12px 0 0 0;
}

em {
	font-size: 0.83333333em; /* 10px */
	color: #777;
}

img {
	max-width: 100%;
}

/* --------------------------------------------------Site Branding and Navigation */

header {
	background-image: -ms-linear-gradient(top, #3D3D3D 0%, #292929 100%);
	background-image: -moz-linear-gradient(top, #3D3D3D 0%, #292929 100%);
	background-image: -o-linear-gradient(top, #3D3D3D 0%, #292929 100%);
	-webkit-gradient(linear, left top, left bottom, color-stop(0, #3D3D3D), color-stop(1, #292929));
	background-image: -webkit-linear-gradient(top, #3D3D3D 0%, #292929 100%);
	background-image: linear-gradient(to bottom, #3D3D3D 0%, #292929 100%);
	margin: 0 auto;
	width: 100%; /* 980px */
	overflow: hidden;
}

header h1 {
	background-image: url('../images/logo.jpg');
	color: #fff;
	width: 32.653062%; /* 320px */
	height: 60px;
	margin: 0;
	padding: 0;
	line-height: 60px;
	text-indent: -90000px;
	float: left;
}

nav {
	width: 67.346939%; /* 660px */
	float: left;
}

nav ul {
	width: 100%; /* 660px */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	width: 25%; /* 165px */
	float: left;
}

header a {
	font-family: 'Advent Pro', sans-serif;
	font-size: 1.66666667em;
	color: #fff;
	text-decoration: none;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

header a:visited {
	color: #fff;
}

header a:hover {
	color: #2bb0e7;
	background-image: -ms-linear-gradient(top, #292929 0%, #3D3D3D 100%);
	background-image: -moz-linear-gradient(top, #292929 0%, #3D3D3D 100%);
	background-image: -o-linear-gradient(top, #292929 0%, #3D3D3D 100%);
	-webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #3D3D3D));
	background-image: -webkit-linear-gradient(top, #292929 0%, #3D3D3D 100%);
	background-image: linear-gradient(to bottom, #292929 0%, #3D3D3D 100%);
}

header a:active {

}

/* --------------------------------------------------Call to Action */

.ctacontent h1 {
	color: #3db8e0;
	margin: 0;
	text-shadow: 2px 2px 1px #aaa;
}

.ctacontent em {
	margin: 0;
}

.ctacontent p {
	margin: 15px 0 0 0;
}

.cta {
	clear: left;
	background-color: #fff;
	width: 95.918367%; /* 940px */
	margin: 0 auto;
	padding: 20px 20px 10px 20px;
	overflow: hidden;
}

.cta img {
	width: 66.914894%; /* 629px */
	float:left;
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
	border: 1px;
	border-top-style:solid;
	border-right-style:none;
	border-bottom-style:solid;
	border-left-style:solid;
		
}

.ctacontent {
	background-color: #f5f5f5;
	width: 28.617021%; /* 269px */
	max-height: 198px;
	padding: 20px;
	float: left;
	text-align: justify;
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
	border: 1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:none;
}

.ctabutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #83d8eb), color-stop(1, #1a8ebf) );
	background:-moz-linear-gradient( center top, #83d8eb 5%, #1a8ebf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#83d8eb', endColorstr='#1a8ebf');
	background-color:#83d8eb;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #5eb6db;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size: 1.25em; /* 15px */ 
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #5e5e5e;
}

.ctabutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1a8ebf), color-stop(1, #83d8eb) );
	background:-moz-linear-gradient( center top, #1a8ebf 5%, #83d8eb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a8ebf', endColorstr='#83d8eb');
	background-color:#1a8ebf;
}

.ctabutton:active {
	position:relative;
	top:1px;
}

/* --------------------------------------------------New Releases Sub CTA */

.subcta {
	clear: left;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%; /* 980px */
	overflow: hidden;
}

section ul {
	list-style-type: none;
	padding: 0;
	margin: 0 8px;
}

section li {
	float: left;
	margin: 0 9px;
}

section li img {
	text-align: center;
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
}

.subctaparagraph {
	width: 95.918367%; /* 940px */
	background-color: #fff;
	margin: 0 auto;
	padding: 0 20px;
	-moz-column-count:4;
	-webkit-column-count:4;
	column-count: 4;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	column-gap:20px;
}

.subctaparagraph p {
	margin: 0;

}

/* --------------------------------------------------Advertisement */

.advertisement {
	clear: left;
	background-color: #fff;
	margin: 20px;
	max-height: 280px;
	float: right;
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
	border: 1px solid #000;

}

/* --------------------------------------------------News and Articles */

.articlebody {
	background-color: #fff;
	margin: 0;
	padding: 0 0 20px 0;
	width: 100%; /* 980px */
	overflow: hidden;
	float: right;
}

article {
	background: url("../images/dividerbg.jpg") repeat-x center bottom;
    width: 61.22449%; /* 600px */
	margin: 0 0 0 20px;
	padding: 20px 0;
	overflow: hidden;
}

article img {
	margin: 0;
	
	float: left;
	-moz-box-shadow: 3px 3px 4px #aaa;
	-webkit-box-shadow: 3px 3px 4px #aaa;
	box-shadow: 3px 3px 4px #aaa;
	border: 1px solid #000;
}

.articlecontent {
	margin: 0;
	padding: 0 0 0 20px;
	width: 60%; /* 360px */
	float: left;
}

/* --------------------------------------------------Footer */

footer {
	clear: both;
	width: 100%; /* 980px */
	overflow: hidden;
	background-color: rgba(60, 60, 60, 0.80);
}

footer img {
	float: left;
	width: 21.428571%; /* 210px */
	padding: 0 20px 0 0;
}

footer ul {
	width: 76.530612%; /* 750px */
	height: 60px;
	float: left;
	padding: 0;
	margin: 0;
}

footer li {
	float: left;
	color: #999;
	line-height: 60px;
	list-style-type: circle;
	width: 32.467532%; /* 250px */
}

div .clear {
	clear: left;
}

/* ==================================================Media Queries */

	/* Tablet portrait size to desktop 980px */
	@media screen and (min-width:768px) and (max-width:979px) {
		.cta {
			background-color: #00640e;
		}
	}
	
	/* Mobile landscape size to tablet portrait */
	@media only screen and (min-width:480px) and (max-width:767px) {
			.cta {
			background-color: #00ac18;
		}
	}
	
	/* Mobile portrait size to mobile portrait */
	@media only screen and (max-width:479px) {
			.cta {
			background-color: #00fd24;
		}
	}
	
	
	
	
	
	
	